BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 120
IndentCaseLabels: true
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Pointer